
/*I would like to rewrite this implementing sass in the future*/
a {
    text-decoration: none;
    color: white;
}

html{
    height: 100%;
}

body{
    height: 100%;
    background-color: whitesmoke;
    background-image: url(../images/interweave-background-3.jpg);

}

main{
    height: 100%;
}

.flexmain{
    display: flex;
    align-items: center;
    justify-content: center;
}


#formrow label.form-label{
margin-left:20px;
}

#registrationform{
    max-width:50%
}

 #edit {
 cursor: pointer;
}

#payment-form, #registrationform {
    border: 3px #2C2741 solid;
    background-color:#c0c2d4;
}



.loginform{
    display: flex;
}

.logincard{
    background-color: #c0c2d4;
}

#debit, #credit, #paypal {
    outline:1px #2C2741 solid;
}

.btn{
    background-color: #2C2741 ;
}

.form-check-input [type=radio] {
    outline:1px #2C2741 solid;
}

#registrationform input,textarea {
 
    outline:1px #2C2741 solid;
}

.accordion-button {
 background-color: #c0c2d4;
         
}